ALCHEMY_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1

# !!! WARNING !!!
# Please manage your .env files carefully when using them to store your private keys.
# People getting access to you private keys will be able to control your wallet forever.
# Remember you can use the CLI commands even without setting the private keys here, please
# check out the GitHub repo for more information.
NETWORK_MAINNET_PUBLIC_KEY=0xdE0617f411AeC7033B9C19EF3F4021e471FA6222
EVM_PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1

ETH_BLOCK_EXPLORER_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
POLYGON_BLOCK_EXPLORER_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1

REPORT_GAS=true
